--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6 (Debian 16.6-1.pgdg120+1)
-- Dumped by pg_dump version 16.6 (Debian 16.6-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: entrega_seguimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: entrega_contenido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sede; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sede (id_sede, nombre, direccion, region) FROM stdin;
1	Sede Caracas	Av Libertador	Capital
5	Sede Puerto Ordaz	Alta Vista	Oriente
4	Sede Barcelona	Lecheria	Oriente
3	Sede Maracaibo	Zona Norte	Occidente
2	Sede Valencia	Naguanagua	Occidente
\.


--
-- Data for Name: seccion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.seccion (id_seccion, id_asignatura, id_sede, codigo_seccion) FROM stdin;
101	10	1	INF-101
102	11	1	ADM-201
106	15	5	ARQ-300
105	14	4	ING-150
104	13	3	MED-220
103	12	2	DER-110
\.


--
-- Data for Name: evaluacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluacion (id_evaluacion, id_seccion, id_sede, nombre, tipo_evaluacion, fecha, porcentaje) FROM stdin;
1001	101	1	Parcial 1	Examen	2026-03-10	30.00
1002	101	1	Proyecto	Proyecto	2026-04-15	40.00
1003	102	1	Quiz	Quiz	2026-02-20	10.00
1007	106	5	Evaluacion Continua	Tarea	2026-03-25	20.00
1006	105	4	Proyecto Final	Proyecto	2026-06-10	50.00
1005	104	3	Final	Examen	2026-05-30	50.00
1004	103	2	Parcial	Examen	2026-03-18	30.00
\.


--
-- PostgreSQL database dump complete
--

