services:
  # === Citus: coordinator ===
  citus_coordinator_bd:
    image: citusdata/citus:12.1
    container_name: citus_coordinator_bd
    ports:
      - "5437:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: coorddb
      PGPASSWORD: 0000
    volumes:
      - pgdata_citus_coord:/var/lib/postgresql/data
      - ./init/init_citus/coord:/docker-entrypoint-initdb.d
    networks:
      - citusnet

  # === Citus: worker 1 ===s
  citus_worker_1_bd:
    image: citusdata/citus:12.1
    container_name: citus_worker_1_bd
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: coorddb
    volumes:
      - pgdata_citus_w1:/var/lib/postgresql/data
      - ./init/init_citus/worker:/docker-entrypoint-initdb.d
    networks:
      - citusnet

  # === Citus: worker 2 ===
  citus_worker_2_bd:
    image: citusdata/citus:12.1
    container_name: citus_worker_2_bd
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: coorddb
    volumes:
      - pgdata_citus_w2:/var/lib/postgresql/data
      - ./init/init_citus/worker:/docker-entrypoint-initdb.d
    networks:
      - citusnet

  # === Citus: worker 3 ===
  citus_worker_3_bd:
    image: citusdata/citus:12.1
    container_name: citus_worker_3_bd
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
      POSTGRES_DB: coorddb
    volumes:
      - pgdata_citus_w3:/var/lib/postgresql/data
      - ./init/init_citus/worker:/docker-entrypoint-initdb.d
    networks:
      - citusnet

volumes:
  pgdata_citus_coord:
  pgdata_citus_w1:
  pgdata_citus_w2:
  pgdata_citus_w3:

networks:
  citusnet: {}
