--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6 (Debian 16.6-1.pgdg120+1)
-- Dumped by pg_dump version 16.6 (Debian 16.6-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citus; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citus WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION citus; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citus IS 'Citus distributed database';


--
-- Name: citus_columnar; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citus_columnar WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION citus_columnar; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citus_columnar IS 'Citus Columnar extension';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entrega_contenido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrega_contenido (
    id_entrega integer NOT NULL,
    id_sede integer NOT NULL,
    archivo_url text
);


ALTER TABLE public.entrega_contenido OWNER TO postgres;

--
-- Name: entrega_seguimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entrega_seguimiento (
    id_entrega integer NOT NULL,
    id_evaluacion integer,
    id_estudiante integer,
    id_sede integer NOT NULL,
    fecha_entrega date,
    estado_entrega character varying(30) DEFAULT 'No entregado'::character varying,
    CONSTRAINT entrega_seguimiento_estado_entrega_check CHECK (((estado_entrega)::text = ANY ((ARRAY['Entregado'::character varying, 'No entregado'::character varying])::text[])))
);


ALTER TABLE public.entrega_seguimiento OWNER TO postgres;

--
-- Name: evaluacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluacion (
    id_evaluacion integer NOT NULL,
    id_seccion integer,
    id_sede integer NOT NULL,
    nombre character varying(100) NOT NULL,
    tipo_evaluacion character varying(50),
    fecha date,
    porcentaje numeric(5,2)
);


ALTER TABLE public.evaluacion OWNER TO postgres;

--
-- Name: seccion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seccion (
    id_seccion integer NOT NULL,
    id_asignatura integer,
    id_sede integer NOT NULL,
    codigo_seccion character varying(10)
);


ALTER TABLE public.seccion OWNER TO postgres;

--
-- Name: sede; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sede (
    id_sede integer NOT NULL,
    nombre character varying(100) NOT NULL,
    direccion character varying(255),
    region character varying(50) NOT NULL,
    CONSTRAINT sede_region_check CHECK (((region)::text = ANY ((ARRAY['Capital'::character varying, 'Occidente'::character varying, 'Oriente'::character varying])::text[])))
);


ALTER TABLE public.sede OWNER TO postgres;

--
-- Name: entrega_contenido entrega_contenido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega_contenido
    ADD CONSTRAINT entrega_contenido_pkey PRIMARY KEY (id_entrega, id_sede);


--
-- Name: entrega_seguimiento entrega_seguimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega_seguimiento
    ADD CONSTRAINT entrega_seguimiento_pkey PRIMARY KEY (id_entrega, id_sede);


--
-- Name: evaluacion evaluacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluacion
    ADD CONSTRAINT evaluacion_pkey PRIMARY KEY (id_evaluacion, id_sede);


--
-- Name: seccion seccion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_pkey PRIMARY KEY (id_seccion, id_sede);


--
-- Name: sede sede_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sede
    ADD CONSTRAINT sede_pkey PRIMARY KEY (id_sede);


--
-- Name: entrega_contenido entrega_contenido_id_entrega_id_sede_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entrega_contenido
    ADD CONSTRAINT entrega_contenido_id_entrega_id_sede_fkey FOREIGN KEY (id_entrega, id_sede) REFERENCES public.entrega_seguimiento(id_entrega, id_sede);


--
-- Name: evaluacion evaluacion_id_seccion_id_sede_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluacion
    ADD CONSTRAINT evaluacion_id_seccion_id_sede_fkey FOREIGN KEY (id_seccion, id_sede) REFERENCES public.seccion(id_seccion, id_sede);


--
-- Name: seccion seccion_id_sede_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_id_sede_fkey FOREIGN KEY (id_sede) REFERENCES public.sede(id_sede);


--
-- PostgreSQL database dump complete
--

